<html>
	<head>
		<title>DirectMe</title>
		<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>       
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
		<script src="../static/css/directme.js"></script> 
	</head>
			  
<body>

	<div id='header'>
		<div class='weather'>
			<p>This is where the weather icon would be</p>
		</div>
		<div class='logo'>
			<img class='direct' src="http://i.imgur.com/n26eoj9.png">
		</div>
	</div>

	<div class="container"><center>
		<div class='hello'><h3>Hello</h3></div>
		<div class="row"> 
			<div class="col s12"> 
			<p>Where would you like to go?</p><br>
			<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Category</a>
			<ul id='dropdown1' class='dropdown-content'>
				<li><a href="#!">one</a></li>
				<li><a href="#!">two</a></li>
				<li class="divider"></li>
				<li><a href="#!">three</a></li>
			</ul>
			<br><br>
			<a class='dropdown-button btn' href='#' data-activates='dropdown2'>Price</a>
			<ul id='dropdown2' class='dropdown-content'>
				<li><a href="#!">one</a></li>
				<li><a href="#!">two</a></li>
				<li class="divider"></li>
				<li><a href="#!">three</a></li>
			</ul>
			<br><br>
			<a class='dropdown-button btn' href='#' data-activates='dropdown3'>Distance</a>
			<ul id='dropdown3' class='dropdown-content'>
				<li><a href="#!">one</a></li>
				<li><a href="#!">two</a></li>
				<li class="divider"></li>
				<li><a href="#!">three</a></li>
			</ul><br><br><br>
			
			<a class="waves-effect waves-light btn">DirectMe</a>
			<br>

			</div>
		</div>
   </div></center>





</body>
</html>