<!doctype html>
<html lang='en'>
	<head>
		<title>DirectMe</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>       
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/lstyles.css">

	<script type="text/javascript">

	  $(document).ready(function() {
		$('select').material_select();
	  });
	  
	</script>

	</head>
	<body>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p>{{ message }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
	<div id='header'>
		<div class='logo'>
			<img class='direct' src="http://i.imgur.com/n26eoj9.png">
		</div>
	</div>	



	<center><div class='container'>
	<div class='box'>
		<div class="log">
			<h2>Login</h2>
		<form action='/login' method='POST'>
		  <div class="row">
			<form class="col s6">
			  <div class="row">
				<div class="input-field col s6">
				  <input id="email" type="email" class="validate">
				  <label for="email" data-error="wrong" data-success="right">Email</label>
				</div>
			  </div>
			</form>
		  </div>

		  <div class="row">
			<form class="col s6">
			  <div class="row">
				<div class="input-field col s12">
				  <input id="password" type="password" class="validate">
				  <label for="password">Password</label>
				</div>
			  </div>
			</form>
		  </div>
				<a class="waves-effect waves-light btn" type="submit" value="Login">Login</a>
<!-- 				<input class='button' type="submit" value="Login"> -->
			</form>
		</div>


		<div class="reg">
			<h2>Register</h2>
			<form action='/register' method='POST'>
			  <div class="row">
					<div class="input-field col s6">
					  <input id="first_mail" type="text" class="validate">
					  <label for="first_name" data-error="wrong" data-success="right">Name</label>
					</div>
				<div class="input-field col s6">
					<input id="email" type="text" class="validate">
					<label for="email" data-error="wrong" data-success="right">Email</label>
				</div>
			</div>


			<div class="row">
				<div class="input-field col s12">
					<select>
					  <option value="" disabled selected>Cities</option>
					  <option value="1">San Francisco</option>
					  <option value="2">Chicago</option>
					  <option value="3">New York</option>
					  <option value="3">Houston</option>
					</select>
				  </div>
			</div>

				  <div class="row">
					<div class="input-field col s6">
					  <input id="password" type="password" class="validate">
					  <label for="password" data-error="wrong" data-success="right">Password</label>
					</div>
					<div class="input-field col s6">
					  <input id="c_password" type="password" class="validate">
					  <label for="password" data-error="wrong" data-success="right">Confirm Password</label>
					</div>
				  </div>

				<a class="waves-effect waves-light btn" type="submit" value="Login">Register</a>
<!-- 				<input class='button' type="submit" value="Register">
 -->			</form>
			</div>
		</div>
	</div></center>

	</body>
</html>