<html>
	<head>
		<title>DirectMe</title>
		<link rel="stylesheet" type="text/css" href="../static/css/wstyles.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>       
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
		<script src="../static/css/directme.js"></script> 
	</head>
			  
<body>

	<div id='header'>
		<div class='logo'>
			<img class='direct' src="http://i.imgur.com/n26eoj9.png">
		</div>
<!-- 		<div class='weather'>
			<p>This is where the weather icon would be</p>
		</div> -->
	</div>

	<div class="container"><center>
		<div class="row"> 
			<div class='map'> Put Google Map here</div>
			<div class='info'>Today is a perfect day to: </div>
			<br><br>
			<a class="waves-effect waves-light btn">Text me the info</a>
			<a class="waves-effect waves-light btn">Text my friends</a>
			<a class="waves-effect waves-light btn">DirectMe again</a>
			<br>
			</center>
		</div>
	</div>






</body>
</html>